<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Configuration.Interface" version="1.1.2.28032" targetFramework="net452" />
  <package id="MathNet.Numerics" version="4.4.0" targetFramework="net452" />
  <package id="PresentationFramework" version="4.6.0" targetFramework="net452" />
  <package id="Shipwreck.Phash" version="0.2.0" targetFramework="net452" />
  <package id="Shipwreck.Phash.PresentationCore" version="0.2.0" targetFramework="net452" />
  <package id="System.ComponentModel" version="4.3.0" targetFramework="net452" />
  <package id="System.Numerics.Vectors" version="4.3.0" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net452" />
  <package id="WindowsBase" version="4.6.1055.0" targetFramework="net452" />
  <package id="Xpand.ExpressApp.Win.Para.WindowsIntegration" version="13.2.6.0" targetFramework="net452" />
</packages>